<div class ="Brownies">

<h3>Here are My teeny tiny URLs</h3>
<% for (const i in urls) {%>
  <% if ( urls[i].user == email){ %>
  <p> <%= urls[i].shortURL %> -- <%= urls[i].longURL %></p>


  <form method="POST" action="/urls/<%= urls[i].shortURL %>/edit">
  <input type="submit" value="Edit"></form>

  <form method="POST" action="/urls/<%= i %>/delete">
  <input type="submit" value="Delete"></form>
  <% }%>
<% } %>
